@import 'variables'
@import 'breakpoints'

.primary
    &::before
        content: ""
        width: 3rem
        height: 3rem
        background-color: rgba($primary, 0.2)
        position: absolute
        filter: blur(0.6rem)
        border-radius: 50%
        padding: 0.2rem

        @media screen and (width <= $phone)
            left: 0

.secondary
    &::before
        content: ""
        width: 3rem
        height: 3rem
        background-color: rgba($secondary, 0.2)
        position: absolute
        filter: blur(0.6rem)
        border-radius: 50%
        padding: 0.2rem

        @media screen and (width <= $phone)
            left: 0

.tertiary
    &::before
        content: ""
        width: 3rem
        height: 3rem
        background-color: rgba($tertiary, 0.2)
        position: absolute
        filter: blur(0.6rem)
        border-radius: 50%
        padding: 0.2rem

        @media screen and (width <= $phone)
            left: 0

