@import '../../styles/variables'
@import '../../styles/mixins'
@import '../../styles/breakpoints'
    
.movie
    flex: auto
    width: 17.5rem
    flex-basis: 17rem
    min-height: 30rem
    @include flex(space-between, center, column, wrap, 1rem)
    border-radius: 1.5rem
    background-color: $background
    padding: 1rem
    transition: all 0.2s ease
    cursor: pointer
    margin: 0

    @media screen and ($phone <= width <= $large-desktop)
        width: 15rem
        flex-basis: 15rem
        min-height: 30rem
        padding: 0.7rem
        gap: 0.8rem

    @media screen and (width <= $phone)
        flex-basis: 10rem
        width: 10rem
        min-height: auto
        padding: 0.6rem
        gap: 0.8rem
        

    @media screen and ($desktop <= width <= $extra-large-desktop)
        min-height: 35rem

    &:hover
        scale: 1.07
        rotate: -1.3deg
        filter: drop-shadow(0px 0px 1rem rgb(255, 255, 255, 0.1))

    & img
        flex: auto
        width: 100%
        border-radius: 1.5rem
        object-fit: cover
        translate: 0 0 1px

        @media screen and (width <= $phone)
            border-radius: 1rem

        @media screen and ($desktop <= width <= $large-desktop)
            flex-basis: 29rem

    & section
        width: 100%
        @include flex(center, flex-end, column, wrap, 0.5rem)

        @media screen and (width <= $phone)
            gap: 0.4rem

    & p
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        width: 100%
        line-height: 1

        @media screen and (width <= $phone)
            font-size: 0.75rem

            span
                font-size: 0.75rem

    & .subtitle
        color: $secondary-text
        

.friendly
    color: $success

.teen
    color: $secondary

.adult
    color: $warn

.not-rated
    color: $tertiary
