@import '../../styles/variables'
@import '../../styles/mixins'

#box
    position: fixed
    @include flex(center, center)
    @include size(100%, 100%)
    z-index: 100000
    top: 0
    left: 0

    &::before
        content: ""
        background-color: rgba(black, 0.6)
        position: fixed
        top: 0
        left: 0
        @include size(100%, 100%)

.loader
    @include size(48px, 48px)
    border-radius: 50%
    display: inline-block
    border-top: 4px solid #FFF
    border-right: 4px solid transparent
    box-sizing: border-box
    animation: rotation 1s linear infinite

    &::after
        content: ''
        box-sizing: border-box
        position: absolute
        left: 0
        top: 0
        @include size(48px, 48px)
        border-radius: 50%
        border-left: 4px solid $primary
        border-bottom: 4px solid transparent
        animation: rotation 0.5s linear infinite reverse

@keyframes rotation
    0%
        transform: rotate(0deg)

    100%
        transform: rotate(360deg)
